/* 2.14 - Meta - start
================================================== */
.post_meta {
  color: #C6C6C6;
  font-size: 15px;
  margin-bottom: 10px;
  li {
    position: relative;
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 20px;
      padding-right: 20px;
    }
    &:after {
      top: 4px;
      right: -1px;
      width: 2px;
      content: '';
      height: 9px;
      position: absolute;
      background-color: #C6C6C6;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  a {
    color: #C6C6C6;
    &:hover {
      color: #ffffff;
    }
  }
}
/* 2.14 - Meta - end
================================================== */