@{
    ViewData["Title"] = "Home Page";
}
@model List<StrawberryArticle>

<!-- Check if TempData["Success"] exists -->
@if (TempData["Success"] != null)
{
	<!-- Display the success message -->
	<div class="alert alert-success">
		@TempData["Success"]
	</div>
}

<!-- Include the new theme's HTML content -->
<!-- You can replace the dummy text with data from your model -->
<!-- Make sure to update any paths to static assets (like images) to reflect their new location in the wwwroot folder -->
<body>
	<!-- banner_section - start -->
	<main>
		<section class="banner_section banar-section-hm3">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 col-md-6 order-last">
						<div class="banner_image">
							<img src="assets/images/banner/KidsFuture.jpg" alt="image_not_found">
							<div class="round_text">
								<svg width="145" height="150" viewBox="0 0 145 150" fill="none" xmlns="http://www.w3.org/2000/svg">

								</svg>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-6">
						<div class="banner_content">
							<h1 class="banner_title text_effect_wrap">
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Empowering Resilience </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3 theme-text one-berry">One Berry </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">At a </span>
									</span>
								</span>
								<span class="text_effect_wrap1">
									<span class="text_effect_wrap2">
										<span class="text_effect_wrap3">Time</span>
									</span>
								</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- banner_section - end -->
		<!-- about_section - start
						================================================== -->
		<section class="about_section about-section-hm3 section_space pb-0">
			<div class="container">
				<div class="row">

					<div class="col-lg-3">
						<div class="section_title style_2">
							<h2 class="small_title">
								About us
								<span class="line"></span>
							</h2>
						</div>
					</div>

					<div class="col-lg-7">
						<div class="about_content mt-0">
							<div class="section_title style_2">
								<h3 class="big_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Welcome to</span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Our Strawberry Generation</span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3 text-break">Wellness App!</span>
										</span>
									</span>
								</h3>
							</div>
							<p class="p-0">
								Dedicated to individuals born in strawberry years who may experience breakdowns and easily give up.

								Our purpose is to Empower “strawberries” with tips and activities to overcome vulnerability and cultivate resilience.

							</p>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- about_section - end
		================================================== -->
		<!-- portfolio_section - start
						================================================== -->
		<section class="portfolio_section section_space pb-0">
			<div class="container">
				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7">
							<a class="item_image" href="portfolio_details.html">
								<img src="assets/images/banner/StressFreeImage.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content">
								<ul class="item_category ul_li text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Stress Management</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" href="portfolio_details.html">View More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7 order-last">
							<a class="item_image" href="portfolio_details.html">
								<img src="assets/images/banner/MentalWellnessImage.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content text-md-end">
								<ul class="item_category ul_li_right text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Mental Wellness</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" href="portfolio_details.html">View More</a>
							</div>
						</div>
					</div>
				</div>

				<div class="portfolio_split_layout">
					<div class="row align-items-center">
						<div class="col-lg-8 col-md-7">
							<a class="item_image" href="portfolio_details.html">
								<img src="assets/images/banner/Singaporebooth.jpg" alt="image_not_found">
							</a>
						</div>
						<div class="col-lg-4 col-md-5">
							<div class="item_content">
								<ul class="item_category ul_li text-uppercase">
									<li><a href="#!">Style</a></li>
									<li><a href="#!">Creative</a></li>
								</ul>
								<h4 class="item_title text_effect_wrap">
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">Learn More </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">About </span>
										</span>
									</span>
									<span class="text_effect_wrap1">
										<span class="text_effect_wrap2">
											<span class="text_effect_wrap3">New Hobbies</span>
										</span>
									</span>
								</h4>
								<a class="btn btn_border border_light text-uppercase" href="portfolio_details.html">View More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- portfolio_section - end
		================================================== -->
	</main>
	
</body>

