@{
    ViewData["Title"] = "Home Page";
}
@model List<StrawberryArticle>

<style>
    body {
        background-image: url('/Images/strawberryImage.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

    }

    text-center {
        color: white; /* Set text color to white for elements with class 'text-center' */
    }

    /* Additional styles for specific elements if needed */
    h1, h4, p {
        color: white; /* Set text color to white for h1 and h4 elements */
    }

    h1, h4 {
        font-weight: bold;
        text-align: center;
    }

    .text-center {
        text-align: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>



    <h4 class="display-4">About Us</h4>
    <p>
        Welcome to our Strawberry Generation Wellness App!
        Dedicated to individuals born in strawberry years who may experience breakdowns and feel like giving up. But we are here
        to help you overcome these hurdles!

        Our purpose is to Empower “strawberries” with tips and activities to overcome vulnerability and cultivate resilience.
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <a asp-controller="Articles" asp-action="ShowArticle" class="btn btn-primary">View All Articles</a>
</div>
