@model StrawberryHub.Models.LoginOTP

<h2>Enter OTP</h2>

<form asp-action="VerifyOTP">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId"/>
    <input type="hidden" asp-for="Username" />
    <input type="hidden" asp-for="Password"/>
    <div class="form-group">
        <label asp-for="OTP" class="control-label"></label>
        <input asp-for="OTP" class="form-control" />
        <span asp-validation-for="OTP" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Verify OTP" class="btn btn-primary" />
    </div>
</form>